<!DOCTYPE html>
<html>
<head>
    <title>О себе</title>
</head>
{% load static %}
<body>
    {{ html | safe }}

    <div class="row">
        <h3 class="col-12 col-md-6 display-2"> Привет! Я программист, вернее только учусь на программиста, и у меня пока плохо получается.
            </br>
            </br>
            А вообще я люблю котиков!.
        </h3>
        <img src="{% static 'foto.jpg' %}" width="500" height="350" class="col-12 col-md-6
        img-fluid rounded-circle" alt="котик">
    </div>
</body>
</html>
